@-moz-document domain(https://media.3ds.com/) {
/*
Stylus theme for https://media.3ds.com/
The Developer Assistance documentation of 3DEXPERIENCE Platform by Dassault Systemes
author: zooid
GITHUB: https://github.com/zooid/media.3ds.com.stylus_dark_theme
License: CC BY-NC-ND 4.0
*/
.Banner{
    background-color: #3e0068 !important;
}
body{
    color: lightgray !important;
    background: #2b2626 !important;
}
a.TocLink{
    color: lightgray !important;
    background: #2b2626 !important;
}
ul, ol{
    color: lightgray !important;
    background: #2b2626 !important;
}
p {
    color: lightgray !important;
    background: #2b2626 !important;
}
h1 {
    color: lightgray !important;
    background: #2b2626 !important;
}
td.DocHeader1{
    color: lightgray !important;
    background: #2b2626 !important;
}
td.DocHeader2{
    color: lightgray !important;
    background: #2b2626 !important;
}
td.DocHeader3{
    color: lightgray !important;
    background: #2b2626 !important;
}
td.DocHeader4{
    color: lightgray !important;
    background: #2b2626 !important;
}
table{
    color: lightgray !important;
    background: #2b2626 !important;
}
pre.code{
    background: #e6e6e6 !important;
}

}
